h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    font-size: 1em;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

ul {
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
}

li {
    display: list-item;
}

ol {
    list-style: decimal;
    margin: initial;
    padding: 0 0 0 40px;
}


.jodit_theme_dark .jodit-wysiwyg {
    background-color: var(--chakra-colors-gray-600);
    color: #d1cccc;
}


.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    cursor: pointer;
}

.active {
    background-color: #1e50ff;
    border-radius: 50%;
}

.page-item {
    list-style: none;
    padding: 2px 12px;
    height: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}