.rdw-editor-toolbar {
    padding: 6px 5px 0;
    border-radius: 2px;
    border: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: black;
    user-select: none;
    margin: 0;
}

div.DraftEditor-root {
    border: 0;
    height: 200px;
}

div.DraftEditor-root:focus {
    border: 1px solid red;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height: 100%;
}

.ce-inline-tool {
    color: black;
}

.ce-toolbar__plus {
    color: gray;
}

.ce-toolbar__settings-btn {
    color: gray;
}

.ce-inline-toolbar {
    color: black;
}

.codex-editor {
    background-color: #FFFFFF0A;
    border-radius: 10px;
    padding-right: 40px;
}

.codex-editor__redactor {
    padding: 10px !important;
}

.tc-popover {
    color: black;
}

.codex-editor:focus-visible {
    border: 1px solid blue;
}

.ce-block--focused {
    background: #FFFFFF0A;
}

.ce-toolbar__actions {
    right: 5% !important;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    font-size: 1em;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.ce-paragraph a {
    color: rgb(146, 146, 239);
}

.ce-block textarea {
    background-color: #3333334f;
    color: white;
    border: gray;
}